<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.apiKey" title="@Strings.SetApiKey">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.athleteId" title="@Strings.SetAthleteId">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.formAsPercent" title="@Strings.SetFormPct">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.roundCharts" title="@Strings.SetRoundCharts">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.windowDays" title="@Strings.SetWindow">
        <settingConfig type="list">
            <listEntry value="42">6 weeks</listEntry>
            <listEntry value="90">3 months</listEntry>
            <listEntry value="180">6 months</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.chart1" title="@Strings.SetChart1">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">HRV (rMSSD)</listEntry>
            <listEntry value="2">HRV SDNN</listEntry>
            <listEntry value="3">Resting HR</listEntry>
            <listEntry value="4">Sleeping HR</listEntry>
            <listEntry value="5">Ramp rate</listEntry>
            <listEntry value="6">eFTP</listEntry>
            <listEntry value="7">Weight</listEntry>
            <listEntry value="8">Body fat</listEntry>
            <listEntry value="9">VO2max</listEntry>
            <listEntry value="10">Sleep score</listEntry>
            <listEntry value="11">Sleep hours</listEntry>
            <listEntry value="12">Readiness</listEntry>
            <listEntry value="13">Steps</listEntry>
            <listEntry value="14">SpO2</listEntry>
            <listEntry value="15">Respiration</listEntry>
            <listEntry value="16">Stress index</listEntry>
            <listEntry value="17">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.chart2" title="@Strings.SetChart2">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">HRV (rMSSD)</listEntry>
            <listEntry value="2">HRV SDNN</listEntry>
            <listEntry value="3">Resting HR</listEntry>
            <listEntry value="4">Sleeping HR</listEntry>
            <listEntry value="5">Ramp rate</listEntry>
            <listEntry value="6">eFTP</listEntry>
            <listEntry value="7">Weight</listEntry>
            <listEntry value="8">Body fat</listEntry>
            <listEntry value="9">VO2max</listEntry>
            <listEntry value="10">Sleep score</listEntry>
            <listEntry value="11">Sleep hours</listEntry>
            <listEntry value="12">Readiness</listEntry>
            <listEntry value="13">Steps</listEntry>
            <listEntry value="14">SpO2</listEntry>
            <listEntry value="15">Respiration</listEntry>
            <listEntry value="16">Stress index</listEntry>
            <listEntry value="17">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.chart3" title="@Strings.SetChart3">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">HRV (rMSSD)</listEntry>
            <listEntry value="2">HRV SDNN</listEntry>
            <listEntry value="3">Resting HR</listEntry>
            <listEntry value="4">Sleeping HR</listEntry>
            <listEntry value="5">Ramp rate</listEntry>
            <listEntry value="6">eFTP</listEntry>
            <listEntry value="7">Weight</listEntry>
            <listEntry value="8">Body fat</listEntry>
            <listEntry value="9">VO2max</listEntry>
            <listEntry value="10">Sleep score</listEntry>
            <listEntry value="11">Sleep hours</listEntry>
            <listEntry value="12">Readiness</listEntry>
            <listEntry value="13">Steps</listEntry>
            <listEntry value="14">SpO2</listEntry>
            <listEntry value="15">Respiration</listEntry>
            <listEntry value="16">Stress index</listEntry>
            <listEntry value="17">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.chartRing" title="@Strings.SetChartRing">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">HRV (rMSSD)</listEntry>
            <listEntry value="2">HRV SDNN</listEntry>
            <listEntry value="3">Resting HR</listEntry>
            <listEntry value="4">Sleeping HR</listEntry>
            <listEntry value="5">Ramp rate</listEntry>
            <listEntry value="6">eFTP</listEntry>
            <listEntry value="7">Weight</listEntry>
            <listEntry value="8">Body fat</listEntry>
            <listEntry value="9">VO2max</listEntry>
            <listEntry value="10">Sleep score</listEntry>
            <listEntry value="11">Sleep hours</listEntry>
            <listEntry value="12">Readiness</listEntry>
            <listEntry value="13">Steps</listEntry>
            <listEntry value="14">SpO2</listEntry>
            <listEntry value="15">Respiration</listEntry>
            <listEntry value="16">Stress index</listEntry>
            <listEntry value="17">Calories</listEntry>
        </settingConfig>
    </setting>
</settings>
