<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.apiKey" title="@Strings.SetApiKey">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.athleteId" title="@Strings.SetAthleteId">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.glanceMode" title="@Strings.SetGlance">
        <settingConfig type="list">
            <listEntry value="0">Fitness + fatigue + form</listEntry>
            <listEntry value="1">Fitness only</listEntry>
            <listEntry value="2">Fatigue only</listEntry>
            <listEntry value="3">Form only</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.formAsPercent" title="@Strings.SetFormPct">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.graph1Type" title="@Strings.SetGraph1">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Load (fitness/fatigue)</listEntry>
            <listEntry value="2">HRV (rMSSD)</listEntry>
            <listEntry value="3">HRV SDNN</listEntry>
            <listEntry value="4">Resting HR</listEntry>
            <listEntry value="5">Sleeping HR</listEntry>
            <listEntry value="6">Ramp rate</listEntry>
            <listEntry value="7">eFTP</listEntry>
            <listEntry value="8">Weight</listEntry>
            <listEntry value="9">Body fat</listEntry>
            <listEntry value="10">VO2max</listEntry>
            <listEntry value="11">Sleep score</listEntry>
            <listEntry value="12">Sleep hours</listEntry>
            <listEntry value="13">Readiness</listEntry>
            <listEntry value="14">Steps</listEntry>
            <listEntry value="15">SpO2</listEntry>
            <listEntry value="16">Respiration</listEntry>
            <listEntry value="17">Stress index</listEntry>
            <listEntry value="18">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.graph1Round" title="@Strings.SetGraph1Shape">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.graph2Type" title="@Strings.SetGraph2">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Load (fitness/fatigue)</listEntry>
            <listEntry value="2">HRV (rMSSD)</listEntry>
            <listEntry value="3">HRV SDNN</listEntry>
            <listEntry value="4">Resting HR</listEntry>
            <listEntry value="5">Sleeping HR</listEntry>
            <listEntry value="6">Ramp rate</listEntry>
            <listEntry value="7">eFTP</listEntry>
            <listEntry value="8">Weight</listEntry>
            <listEntry value="9">Body fat</listEntry>
            <listEntry value="10">VO2max</listEntry>
            <listEntry value="11">Sleep score</listEntry>
            <listEntry value="12">Sleep hours</listEntry>
            <listEntry value="13">Readiness</listEntry>
            <listEntry value="14">Steps</listEntry>
            <listEntry value="15">SpO2</listEntry>
            <listEntry value="16">Respiration</listEntry>
            <listEntry value="17">Stress index</listEntry>
            <listEntry value="18">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.graph2Round" title="@Strings.SetGraph2Shape">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.graph3Type" title="@Strings.SetGraph3">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Load (fitness/fatigue)</listEntry>
            <listEntry value="2">HRV (rMSSD)</listEntry>
            <listEntry value="3">HRV SDNN</listEntry>
            <listEntry value="4">Resting HR</listEntry>
            <listEntry value="5">Sleeping HR</listEntry>
            <listEntry value="6">Ramp rate</listEntry>
            <listEntry value="7">eFTP</listEntry>
            <listEntry value="8">Weight</listEntry>
            <listEntry value="9">Body fat</listEntry>
            <listEntry value="10">VO2max</listEntry>
            <listEntry value="11">Sleep score</listEntry>
            <listEntry value="12">Sleep hours</listEntry>
            <listEntry value="13">Readiness</listEntry>
            <listEntry value="14">Steps</listEntry>
            <listEntry value="15">SpO2</listEntry>
            <listEntry value="16">Respiration</listEntry>
            <listEntry value="17">Stress index</listEntry>
            <listEntry value="18">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.graph3Round" title="@Strings.SetGraph3Shape">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.graph4Type" title="@Strings.SetGraph4">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Load (fitness/fatigue)</listEntry>
            <listEntry value="2">HRV (rMSSD)</listEntry>
            <listEntry value="3">HRV SDNN</listEntry>
            <listEntry value="4">Resting HR</listEntry>
            <listEntry value="5">Sleeping HR</listEntry>
            <listEntry value="6">Ramp rate</listEntry>
            <listEntry value="7">eFTP</listEntry>
            <listEntry value="8">Weight</listEntry>
            <listEntry value="9">Body fat</listEntry>
            <listEntry value="10">VO2max</listEntry>
            <listEntry value="11">Sleep score</listEntry>
            <listEntry value="12">Sleep hours</listEntry>
            <listEntry value="13">Readiness</listEntry>
            <listEntry value="14">Steps</listEntry>
            <listEntry value="15">SpO2</listEntry>
            <listEntry value="16">Respiration</listEntry>
            <listEntry value="17">Stress index</listEntry>
            <listEntry value="18">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.graph4Round" title="@Strings.SetGraph4Shape">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.data1Type" title="@Strings.SetData1">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Form</listEntry>
            <listEntry value="2">Recovery</listEntry>
            <listEntry value="3">Sleep</listEntry>
            <listEntry value="4">Body</listEntry>
            <listEntry value="5">Fuel + steps</listEntry>
            <listEntry value="6">How you feel</listEntry>
            <listEntry value="7">Status</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.data2Type" title="@Strings.SetData2">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Form</listEntry>
            <listEntry value="2">Recovery</listEntry>
            <listEntry value="3">Sleep</listEntry>
            <listEntry value="4">Body</listEntry>
            <listEntry value="5">Fuel + steps</listEntry>
            <listEntry value="6">How you feel</listEntry>
            <listEntry value="7">Status</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.data3Type" title="@Strings.SetData3">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Form</listEntry>
            <listEntry value="2">Recovery</listEntry>
            <listEntry value="3">Sleep</listEntry>
            <listEntry value="4">Body</listEntry>
            <listEntry value="5">Fuel + steps</listEntry>
            <listEntry value="6">How you feel</listEntry>
            <listEntry value="7">Status</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.data4Type" title="@Strings.SetData4">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Form</listEntry>
            <listEntry value="2">Recovery</listEntry>
            <listEntry value="3">Sleep</listEntry>
            <listEntry value="4">Body</listEntry>
            <listEntry value="5">Fuel + steps</listEntry>
            <listEntry value="6">How you feel</listEntry>
            <listEntry value="7">Status</listEntry>
        </settingConfig>
    </setting>
</settings>
